.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 1.5rem; 
}

.cart-item-info {
  width: 40%;
}

.cart-item-controls {
  display: flex;
  align-items: center;
  gap: 12px;         
  margin-left: auto;
}

.btn-danger {
  background-color: #ef4444;
  color: white;
  border: none;             
  border-radius: var(--radius);
  padding: 8px 16px;       
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-danger:hover {
  background-color: #dc2626; 
}

/* --- Quantity Buttons (+/-) --- */
.btn-qty {
  width: 32px;
  height: 32px;
  display: flex;             /* Centering the symbol */
  justify-content: center;
  align-items: center;
  background-color: var(--bg-card); /* or a light grey like #f3f4f6 */
  border: 1px solid var(--text-muted);
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
}

.btn-qty:hover {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
}


.cart-footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid var(--text-muted); 
  
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 24px;               
}
.cart-footer h3 {
  font-size: 1.5rem;
  color: var(--text-main);
}


.btn-clear {
  background-color: transparent;
  color: #ef4444;            
  border: 1px solid #ef4444; 
  padding: 10px 24px;
  border-radius: var(--radius);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-clear:hover {
  background-color: #ef4444;
  color: white;
}