.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky ;
  top: 0;

  background-color: var(--bg-card);
  padding: 16px 32px;              
  box-shadow: var(--shadow);     
  z-index: 100;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}