:root{
  --primary: #10B981;
  --primary-hover: #059669;

  --bg-body: #F3F4F6;
  --bg-card: #FFFFFF;

  --text-main: #1f2937;
  --text-muted: #6B7280;

  --radius: 8px;
  --shadow: 0 4px 6px -1px rgba(0,0,0,0.1)
}

body{
  background-color: var(--bg-body);
  color: var(--text-main);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

